# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment variables file
.env

# Ignore virtual environment directory
venv/
env/

# Ignore other files and directories
*.log
*.sqlite3
.DS_Store
